@import "~vuesax/src/styles/mixins";
.wrapper-content {
    display: flex;
    width: 100%;
}
.vs-sidebar-content{
    z-index: 8000 !important;
    transition: all .30s ease
}
.vs-sidebar__item__text a{
    color: -color('text') ;
    text-decoration: none;
}
.vs-sidebar__item__text a:hover{
    color: -color('text') ;
    text-decoration: none;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content-app {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s ease;
    position: absolute;
    top: 0;
    right: 0;
}
#content-app.active {
    width: calc(100% - 260px);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 260px);
    }
}
