<template>
    <div>
        <vs-row>
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" w="12">
                <h1>Create</h1>
                <p>{{num1}} {{num2}}</p>
            </vs-col>
        </vs-row>
    </div>
</template>
<script>
import AppLayout from '@/Shared/Layouts/AppLayout'
export default {
    layout: AppLayout,
    props:['num1','num2'],
}
</script>
