<template>
    <div>
        <vs-row>
            <vs-col vs-type="flex" vs-justify="center" vs-align="center" w="12">
                <h1>Dashboard</h1>
                <p>{{fname}} {{lname}}</p>
            </vs-col>
        </vs-row>
        <div class="row">
            <div class="col-sm-4">
                <reminder-list :reminders="reminders"></reminder-list>
            </div>
        </div>
    </div>
</template>
<script>
import AppLayout from '@/Shared/Layouts/AppLayout';
import ReminderList from "./ReminderList";
export default {
    layout: AppLayout,
    props:['fname','lname','reminders'],
    components:{
        ReminderList
    }
}
</script>
<style>
/*.vs-sidebar-content{
    border-radius: 0px 0px 0px 0px !important;
}*/
</style>
