<template>
    <div class="container">
        <h1>Leads</h1>
        <div class="row">
            <div class="col-md-12">
                <div class="float-right py-3">
                    <inertia-link class="btn btn-outline-primary" :href="route('lead.create')">nuevo</inertia-link>
                </div>
            </div>
<!--            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-group" placeholder="escriba url" v-on:change="changeImage" v-model="imagentest.text">
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <img :src=imagentest.src alt="">
            </div>-->
            <div class="col-md-12">
                <table class="table table-hover bg-white">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Age</th>
                        <th>Package</th>
                        <th>Added on</th>
                        <th></th>
                    </tr>
                    <tr v-for="lead in leads" :key="lead.id">
                        <td>{{lead.id}} </td>
                        <td>{{lead.name}}</td>
                        <td>{{lead.email}}</td>
                        <td>{{lead.phone}}</td>
                        <td>{{lead.age}}</td>
                        <td>{{lead.interested_package}}</td>
                        <td>{{lead.created_at}}</td>
                        <td>
                            <inertia-link class="btn btn-outline-primary" :href="route('lead.show',{lead:lead})">editar</inertia-link>
                           <button class="btn btn-danger" @click="destroy(lead.id)">eliminar</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
import AppLayout from '@/Shared/Layouts/AppLayout'
export default {
    layout : AppLayout,
    props: ['leads'],
    data(){
      return{
          imagentest:{
              text:'',
              src: 'https://image.isu.pub/210331010122-2d5fafd20dd23bcd349323898e4530be/jpg/page_1_thumb_large.jpg'
          }
      }
    },
    methods:{
        destroy(leadId){
            if (confirm('Estas seguro we?')) {
                this.$inertia.delete(this.route('lead.destroy', leadId))

            }
        },
        changeImage(){
            if(this.imagentest.text.trim().length>0){
                this.imagentest.src = this.imagentest.text
            }else{
                this.imagentest.src = 'https://image.isu.pub/210331010122-2d5fafd20dd23bcd349323898e4530be/jpg/page_1_thumb_large.jpg'
            }

        }
    }
}
</script>
