<template>
    <div>
        <div class="container">
            <h1>Leads Create</h1>
            <form @submit.prevent="handleSubmit">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" placeholder="Enter name"
                                   v-model="lead.name" id="name" tabindex="1">
                            <div v-if="errors.name" class="text-danger">{{ errors.name }}</div>
                        </div>
                        <div class="form-group">
                            <label for="phone">phone</label>
                            <input type="text" class="form-control" placeholder="Enter phone"
                                   v-model="lead.phone" id="phone" tabindex="3">
                            <div v-if="errors.phone" class="text-danger">{{ errors.phone }}</div>
                        </div>
                        <div class="form-group">
                            <label for="package">package</label>
                            <input type="text" class="form-control" placeholder="Enter package"
                                   v-model="lead.package" id="package" tabindex="5">
                            <div v-if="errors.package" class="text-danger">{{ errors.package }}</div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" class="form-control" placeholder="Enter email"
                                   v-model="lead.email" id="email" tabindex="2">
                            <div v-if="errors.email" class="text-danger">{{ errors.email }}</div>
                        </div>
                        <div class="form-group">
                            <label for="dob">dob</label>
                            <input type="date" class="form-control" placeholder="Enter dob"
                                   v-model="lead.dob" id="dob" tabindex="4">
                            <div v-if="errors.dob" class="text-danger">{{ errors.dob }}</div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button class="btn btn-success">Save</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</template>

<script>
import AppLayout from '@/Shared/Layouts/AppLayout'

export default {
    layout: AppLayout,
    name: "LeadAdd",
    props:{
        errors: Object,
    },
    data(){
        return {
            lead:{
                name:     '',
                email:    '',
                phone:    '',
                dob:      '',
                package:  '',
            }
        }
    },
    methods:{
         async handleSubmit(){
             this.$inertia.post('/leads/save', this.lead, {
                 onSuccess: () => {
                     console.log('lead guardado');
                 },
                 onError: (errors) => {
                     console.log('Error'+errors);
                 },
             })
         }
    }
}
</script>

<style scoped>

</style>
