<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <inertia-link :href="route('lead.index')">Leads</inertia-link>
                    <span class="breadcrumb-sep">/</span>
                    <inertia-link :href="route('lead.show',{lead:lead})">Lead details</inertia-link>
                    <span class="breadcrumb-sep">/</span>
                    Add reminder
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Add reminder</div>
                    <div class="card-body">
                        <reminder-form
                            :main-reminder="reminder"
                            :errors="errors"
                            :lead="lead"
                            @formSubmit="addReminder"
                        >
                        </reminder-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from '@/Shared/Layouts/AppLayout'
import ReminderForm from "./ReminderForm";
export default {
    layout: AppLayout,
    components:{
        ReminderForm
    },
    props:{
        lead:Object,
        errors:Object
    },
    data(){
      return{
          reminder:{
              reminder:'',
              reminder_date:'',
          }
      }
    },
    methods:{
        addReminder(postData){
            postData.lead_id = this.lead.id;
            console.log(postData);
            /*const postData = {
                reminder: this.reminder.reminder,
                reminder_date: this.reminder.reminder_date,
                lead_id: this.lead.id
            }*/
            this.$inertia.post(route('reminder.save'),postData,{
                    onSuccess: () => {
                        console.log('reminder guardado');
                    },
                    onError: (errors) => {
                        console.log('Error'+errors);
                    },
                }
            )
        }
    }
}
</script>

