<template>
    <form @submit.prevent="handleform_submit">
        <div class="form-group">
            <label for="reminder">Reminder</label>
            <textarea name="reminder" id="reminder" class="form-control"
                      v-model="reminder.reminder"></textarea>
            <div v-if="errors.reminder" class="text-danger">{{ errors.reminder }}</div>

        </div>
        <div class="form-group">
            <label for="date">Reminder date</label>
            <input type="date" name="date" id="date" class="form-control"
                   v-model="reminder.reminder_date">
            <div v-if="errors.reminder_date" class="text-danger">{{ errors.reminder_date }}</div>
        </div>
        <div v-if="reminder.id">
            <button class="btn btn-success" @click="handleform_add">Add Reminder</button>
            <inertia-link :href="route('reminder.note',{lead:lead,reminder:reminder})" class="btn btn-danger">Close reminder</inertia-link>
        </div>
        <div v-else>
            <button class="btn btn-primary">guardar</button>
        </div>
    </form>
</template>

<script>
export default {
    props:{
        lead: Object,
        mainReminder: Object,
        errors:Object
    },
    data(){
        return{
            reminder:{
                reminder:'',
                reminder_date:'',
            }
        }
    },
    created() {
      this.reminder = this.mainReminder;
    },
    methods:{
        handleform_submit(){
            this.$emit('formSubmit', this.reminder);
        },
        handleform_add(){
            this.$emit('formAddReminder',this.reminder);
        }
    }
}
</script>
