<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <inertia-link :href="route('lead.index')">Leads</inertia-link>
                    <span class="breadcrumb-sep">/</span>
                    <inertia-link :href="route('lead.show',{lead:lead})">Lead details</inertia-link>
                    <span class="breadcrumb-sep">/</span>
                    Reminder Add Note
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Add Note</div>
                    <div class="card-body">
                        <form @submit.prevent="addNote">
                            <div class="form-group">
                                <label for="note">Note</label>
                                <textarea class="form-control" name="note" id="note" v-model="note"></textarea>
                                <div v-if="errors.note" class="text-danger">{{ errors.note }}</div>
                            </div>
                            <button class="btn btn-success">Cerrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from '@/Shared/Layouts/AppLayout';

export default {
    layout: AppLayout,
    props:{
        lead: Object,
        reminder: Object,
        errors: Object,
    },
    data(){
      return{
          note:''
      }
    },
    methods:{
        addNote(){
            const postData= {
                'reminder_id': this.reminder.id,
                'note': this.note
            }
            this.$inertia.post( route('reminder.close'), postData,
                {
                    onSuccess: () => { console.log('reminder note '); },
                    onError: (errors) => { console.log(errors); },
                }
            );
        }
    }
}
</script>
