<template>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    <inertia-link :href="route('lead.index')">Leads</inertia-link>
                    <span class="breadcrumb-sep">/</span>
                    <inertia-link :href="route('lead.show',{lead:lead})">Lead details</inertia-link>
                    <span class="breadcrumb-sep">/</span>
                    Reminder Show
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Add reminder</div>
                    <div class="card-body">
                        <reminder-form
                         :main-reminder="reminder"
                         :errors="errors"
                         :lead="lead"
                         @formAddReminder="addNewReminder"
                        >
                        </reminder-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from '@/Shared/Layouts/AppLayout';
import ReminderForm from "./ReminderForm";
export default {
    layout: AppLayout,
    components:{
        ReminderForm
    },
    props:{
        lead: Object,
        reminder: Object,
        errors: Object,
    },
    data(){
        return {
        }
    },
    methods:{
        addNewReminder(dataForm){
            console.log(dataForm);
            this.$inertia.post(route('reminder.update'),dataForm,{
                    onSuccess: () => {
                        console.log('reminder update');
                    },
                    onError: (errors) => {
                        console.log('Error'+errors);
                    },
                }
            )
        }

    }
}
</script>
