<template>
    <div>
        <div class="container">
            <h1>Leads Create</h1>
            <form  @submit.prevent="update">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" placeholder="Enter name"
                                   v-model="lead.name" id="name" tabindex="1">
                        </div>
                        <div class="form-group">
                            <label for="phone">phone</label>
                            <input type="text" class="form-control" placeholder="Enter phone"
                                   v-model="lead.phone" id="phone" tabindex="3">
                        </div>
                        <div class="form-group">
                            <label for="package">package</label>
                            <input type="text" class="form-control" placeholder="Enter package"
                                   v-model="lead.package" id="package" tabindex="5">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="email">email</label>
                            <input type="text" class="form-control" placeholder="Enter email"
                                   v-model="lead.email" id="email" tabindex="2">
                        </div>
                        <div class="form-group">
                            <label for="dob">dob</label>
                            <input type="date" class="form-control" placeholder="Enter dob"
                                   v-model="lead.dob" id="dob" tabindex="4">
                        </div>
                    </div>
                    <div class="col-md-12 py-md-2">
                        <inertia-link class="btn btn-outline-primary" :href="route('lead.index')">Volver</inertia-link>
                        <button class="btn btn-success">Guardar</button>
                    </div>
                </div>
            </form>
            <div class="row mt-md-5">
                <div class="col-md-12">
                    <div class="card" v-if="lead.reminders.length > 0">
                        <div class="card-header">
                            Lead Reminders
                            <div class="float-md-right">
                                <inertia-link class="btn btn-outline-primary" :href="route('reminder.add',{lead:lead})">agregar</inertia-link>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group-flush">
                                <li class="list-group-item list-group-item-action"
                                v-for="reminder in lead.reminders" :key="reminder.id">
                                    <div class="row">
                                        <div class="col-md-6">{{reminder.reminder}}</div>
                                        <div class="col-md-2">{{reminder.reminder_date}}</div>
                                        <div class="col-md-2"><strong>{{reminder.status}}</strong></div>
                                        <div class="col-md-2">
                                            <inertia-link class="btn btn-outline-primary" :href="route('reminder.show',{lead:lead, reminder:reminder})"> ver</inertia-link>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card" v-else>
                        <div class="card-header">Lead Reminders</div>
                        <div class="card-body">
                            <p>Parece que no hay ningun recordatorio.</p>
                            <inertia-link class="btn btn-outline-primary" :href="route('reminder.add',{lead:lead})">agregar</inertia-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import AppLayout from '@/Shared/Layouts/AppLayout'
export default {
    layout: AppLayout,
    props: {
        'leadProp': Object
    },
    data(){
        return {
            lead:{
                name:     '',
                email:    '',
                phone:    '',
                dob:      '',
                package:  '',
                reminders: {},
            }
        }
    },
    created(){
        this.lead = this.leadProp
        this.lead.package = this.leadProp.interested_package
    },
    methods:{
        update(){
            this.$inertia.put(route('lead.update', this.leadProp.id),this.lead,{
                onSuccess: () => {
                    console.log('lead actualizado');
                },
                onError: (errors) => {
                    console.log('Error'+errors);
                },
            })
        }
    }
}
</script>

<style scoped>

</style>
