<template>
    <div class="">
        <vs-navbar square fixed v-model="active">
            <template #left>

            </template>
            <vs-navbar-item :active="active == 'guide'" id="guide">
                Guide
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'docs'" id="docs">
                Documents
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'components'" id="components">
                Components
            </vs-navbar-item>
            <vs-navbar-item :active="active == 'license'" id="license">
                license
            </vs-navbar-item>
            <template #right>
                <vs-button @click="activeSidebar = !activeSidebar" flat icon>
                    <i class='bx bx-menu'></i>
                </vs-button>
                <vs-button flat >Login</vs-button>
                <vs-button @click="handleLogout">logout</vs-button>
            </template>
        </vs-navbar>
        <div class="wrapper-content">
            <vs-sidebar background="primary" text-white notShadow square
                         v-model="active" :open.sync="activeSidebar">
                <template #logo>
                    Red Jazmin
                </template>
                <vs-sidebar-item id="dashboard" @click.native="goToView">
                    <template #icon>
                        <i class='bx bx-home'></i>
                    </template>
                    Dashboard
                </vs-sidebar-item>
                <vs-sidebar-item id="leads"@click.native="goToView">
                    <template #icon>
                        <i class='bx bx-grid-alt'></i>
                    </template>
                    Leads
                </vs-sidebar-item>
                <vs-sidebar-item id="Music">
                    <template #icon>
                        <i class='bx bxs-music'></i>
                    </template>
                    Music
                </vs-sidebar-item>
                <vs-sidebar-item id="donate">
                    <template #icon>
                        <i class='bx bxs-donate-heart' ></i>
                    </template>
                    Donate
                </vs-sidebar-item>
                <vs-sidebar-item id="drink">
                    <template #icon>
                        <i class='bx bx-drink'></i>
                    </template>
                    Drink
                </vs-sidebar-item>
                <vs-sidebar-item id="shopping">
                    <template #icon>
                        <i class='bx bxs-shopping-bags'></i>
                    </template>
                    Shopping
                </vs-sidebar-item>
                <vs-sidebar-item id="chat">
                    <template #icon>
                        <i class='bx bx-chat' ></i>
                    </template>
                    Chat
                </vs-sidebar-item>
            </vs-sidebar>
            <div id="content-app" v-bind:class="[activeSidebar ? 'active' : '']" class="pt-md-5">
                <div class="container-fluid pt-md-5">
                    <slot></slot>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {

    data:() => ({
        active: 'home',
        activeSidebar: true,
    }),
    methods:{
        goToView: function () {
            const url = "/"+this.active;
            this.$inertia.get(url)
        },
        async handleLogout (){
           await axios.post('/logout',{});
           window.location.href ="/";
        }
    }
}
</script>
<style>

</style>
